body {
    background-image: "https://github.com/abolarin100/my-portfolio-website/blob/master/Jeremiah's%20picture.jpeg?raw=true" !important;
}
.div {
    /* background-color: #2c123d; */
    height: 90vh;
}

h1, p {
    text-align: center;
    color: white;

}
.p {
    color: white;
    font-size: 20px;
}



    
    